<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Subway_kiosk"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".manager.ManagerStockMeat"
            android:exported="true">
        </activity>
        <activity
            android:name=".manager.ManagerStockBread"
            android:exported="true">
        </activity>
        <activity
            android:name=".manager.ManagerStockVege"
            android:exported="true">
        </activity>
        <activity
            android:name=".manager.ManagerStockSauce"
            android:exported="true">
        </activity>
        <activity
            android:name=".manager.ManagerMeatSelect"
            android:exported="true">
        </activity>
        <activity
            android:name=".manager.ManagerMenuSelect"
            android:exported="true">
        </activity>
        <activity
            android:name=".manager.ManagerBreadCheeseSelect"
            android:exported="true">
        </activity>
        <activity
            android:name=".manager.ManagerVegeSelect"
            android:exported="true">
        </activity>
        <activity
            android:name=".manager.ManagerSauceSelect"
            android:exported="true">
        </activity>
        <activity
            android:name=".manager.ManagerTester"
            android:exported="true">
        </activity>
        <activity
            android:name=".order.MeatSelect"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".order.MenuSelect"
            android:exported="true" />
        <activity
            android:name=".order.tester"
            android:exported="true" />
        <activity
            android:name=".order.BreadCheeseSelect"
            android:exported="true" />
        <activity
            android:name=".order.VegeSelect"
            android:exported="true" />
        <activity
            android:name=".order.SauceSelect"
            android:exported="true" />
        <activity
            android:name=".order.CookieSelect"
            android:exported="true" />
        <activity
            android:name=".ManagerActivity"
            android:exported="true" >
        </activity>

        <activity
            android:name=".manager.ManagerEditMenu"
            android:exported="true" />
        <activity
            android:name=".manager.ManagerSale"
            android:exported="true" />
    </application>
</manifest>